body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
    background-image: url('https://wallpapers.com/images/hd/basketball-nba-logo-wh8ae0q74gl3payt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:black;
    font-weight: bold;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}
.navbar.fixed-top{
    background-image: url('https://wallpapers.com/images/hd/basketball-nba-logo-wh8ae0q74gl3payt.jpg');
    background-size: cover;
}
