body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
    background-image: url('https://wallpapers.com/images/hd/basketball-nba-logo-wh8ae0q74gl3payt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:black;
    font-weight: bold;
    
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}
.navbar.fixed-top{
    background-image: url('https://wallpapers.com/images/hd/basketball-nba-logo-wh8ae0q74gl3payt.jpg');
    background-size: cover;
}

.centeri{text-align: center;}

.card{
    background-color:rgba(0,0,0,0.5);
    color:whitesmoke
}
.imgh{
    width: 63vh;
    height: 34vh;   
}
.navbar-nav, .pagination{
    background-color: transparent;
    border: 0px;
    width: auto;
}
ul{
    list-style-type: none;
    background-color: white;
    border: 1px solid;
    width: 10%;
    padding: 0px 2px 0px 2px;
    text-align: left;
    z-index: 1000;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    color: grey;
}
p {
    color: whitesmoke;
    text-decoration: none;
}

